# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
cache_hardhat
broadcast
artifacts

# Docs
docs/
NOTES.md

# Dotenv file
.env

# Libs
node_modules

flattened